.header {
  margin-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / .7);
}

.header__logo {
  max-width: 173px;
  margin-bottom: 41px;
}

@media screen and (max-width: 320px) {

  .header {
    max-width: 320px;
    margin-left: 0;
    margin-top: 28px;
  }

  .header__logo {
    margin-top: 0;
    color: #FFFFFF;
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}